<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EZ Advisor</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
  </head>
  
  <body>
    
    <!--Navbar start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Right now the logo in the navbar links page to index.html but this may not be the best design choice. Should the logo even be a link? We don't really have a home page. It's more for convenience at this stage.-->
      <a href="{{ url_for('get_started')}}"><img class="navbar-brand" src="{{ url_for('static', filename='images/ez_trimmed.png')}}"></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('build_schedule')}}">Plan Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('review_schedule_student')}}">Review Schedule</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('advisor_info')}}">Advisor Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
            </li>
          </ul>
      </div>
    </nav>
    <!--Navbar end-->
    
    <!--Completed schedule message start-->
    <!--This entire message fades into the page for a few seconds first and then fades away-->
    <div id="completed-schedule-message-container" class="container-fluid">
      <div id="completed-schedule-message-1" class="row">
        <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-auto text-center">
          <!--This part of the message fades into the page first-->
          <h1>GREAT!</h1>
        </div>
      </div>
      <div id="completed-schedule-message-2" class="row">
        <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 mx-auto text-center">
          <!--This part of the message fades into the page a few seconds after the first part-->
          <h1>Let's<br>review your<br>schedule</h1>
        </div>
      </div>
    </div>
    <!--Completed schedule message end-->

    <!--Schedule start-->
    <!--This section currently contains static hard-coded data.-->
    <!--The data in this section needs to be dynamic and reflect whichever courses the student has added to their schedule-->
    <div id="schedule-container" class="container-fluid">
        <div class="row">
          <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto text-center">
            <div class="row">
              <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h1 id="review-schedule-header" class="page-header mt-5">Review Schedule</h1>
                <h4 id="status-header" class="page-header my-4 mr-4">Status: {{ status[0] }}</h4>
                {% if status[0] == 'Feedback submitted' %}
                <a href="#" id="view-feedback-link" data-toggle="modal" data-target="#feedbackModal">View</a> 
                {% endif %}
              </div>
            </div>
            <form action="" method="POST" role="form">
              <div class="row">
                <div id="schedule" class="col p-4 mx-5">
                  <h5 id="schedule-header">{{ semester }}</h5>
                  <hr>
                  <p id="schedule-classes">
                    {% for i in classes %}
                    {{ i.course_id|string + ' - ' + i.section_num|string + ' - ' + i.start_time.strftime('%-I:%M %p') + '-' + i.end_time.strftime('%-I:%M %p') + ' - ' + i.day }} 
                    &nbsp; &nbsp;
                    {% if status[0] == 'Not submitted' or status[0] == 'Feedback submitted' %}
                    <a href="#" data-toggle="modal" data-target="#deleteModal{{ i.crn }}">Delete</a> 
                    {% endif %}
                    <br>
                    {% endfor %}
                  </p>
                  <hr>
                  <input type="hidden" name="total_hours" value= "{{ hours.sum }}">
                  <span id="schedule-footer">Total Credit Hours: {{ hours.sum  }}</span>
                </div>
              </div>
              <div class="row mt-4">
                {% if status[0] == 'Advisor approved' %}
                <div class="col">
                  <button type="button" class="btn approve-schedule-button-student" data-toggle="modal" data-target="#approvalModal">SIGN</button>
                </div>
                {% elif status[0] == 'Student signed' or status[0] == 'Needs review' or status[0] == 'Changes made' %}
                {% else %}
                <div class="col">
                  <input type="submit" name="btn" class="btn review-schedule-button" value="SUBMIT TO ADVISOR">
                </div>
                <div class="col">
                  <a href="{{ url_for('select_subject') }}" class="btn review-schedule-button" role="button">ADD MORE CLASSES</a>
                </div>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Schedule end-->
  
    <!-- Delete Modal -->
    {% for i in classes %}
    <div class="modal fade" id="deleteModal{{ i.crn }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p id="remove-course-question" class="text-center">Are you sure you want to remove {{ i.course_id }}?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('review_schedule_student') }}" method="POST">
                <input type="hidden" name="remove_course_crn" value= "{{ i.crn }}" />
                <input class="btn btn-danger" type="submit" name="btn" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  
    <!-- Feedback Modal -->
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Advisor Feedback</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="advisor-feedback">{{ feedback[0] }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Approval modal start -->
    <div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="approvalModalLabel">Sign Schedule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" role="form">
              <div class="modal-body">
                <div class="form-group">
                  <label class="mb-3" for="student-signature">Type your name below to electronically sign the schedule</label>
                  <input type="text" name="student-signature" class="form-control" placeholder="Signature" id="student-signature" />
                </div>
              </div>
              <div class="modal-footer" id="approval-modal-footer">
                <button type="button" class="btn approval-modal-button" data-dismiss="modal">Cancel</button>
                <input type="submit" name="btn" class="btn approval-modal-button" value="Sign" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Feedbak modal end-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='swup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <script type="text/javascript">
      $(function(){      
        $('#completed-schedule-message-1').delay(500).fadeIn(1000, function(){
          $('#completed-schedule-message-2').delay(500).fadeIn(1000, function(){
            $('#completed-schedule-message-container').delay(2000).fadeOut("slow", function(){
              $('#schedule-container').fadeIn(1000);
            });
          });
        });
      });
    </script>
  </body>
</html>